.App
{
    text-align:center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:10vh;
    background:black;
    color: white;
}
.link{
    color:aliceblue;
    text-decoration: none;
}
.link:hover{
    color:red;
}